.row,
.row1 {
    height: auto;
}

h1 {
    text-align: center;
}

img {
    height: 100px;
    width: 150px;
    padding: 2px;
}

#results {
    text-align: center;
}

#chose-hero,
#chose-enemy,
#chose-enemy2,
#chose-enemy3,
#fighters-area,
#heros-area,
#heros-area2
#heros-area3,
#defenders-line,
#defenders-line2,
#defenders-line3,
#player-area, {
    height: auto;
    padding: 20px;
}